.mask {
  mask-image: url(/icons/octagon.svg);
  -webkit-mask-image: url(/icons/octagon.svg);

  mask-size: 100%;
  -webkit-mask-size: 100%;

  mask-repeat: round;
  -webkit-mask-repeat: round;

  mask-clip: border-box;
  -webkit-mask-clip: border-box;
}
