# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage
playwright-report/
test-results/

# next.js
.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.idea/

# debug
pnpm-debug.log*

# local env files
.env.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
**/.claude/settings.local.json
