# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# next.js
.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo

# kea
*Type.ts
