version: "3"

services:
  postgres:
    image: postgres:14
    ports:
      - "5432:5432"
    healthcheck:
      test: "pg_isready -U postgres"
      interval: 2s
      timeout: 10s
      retries: 5
    environment:
      POSTGRES_PASSWORD: password

  hasura:
    image: hasura/graphql-engine:v2.18.0.cli-migrations-v3
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      HASURA_GRAPHQL_DATABASE_URL: postgres://postgres:password@postgres:5432/postgres
      HASURA_GRAPHQL_ENABLE_CONSOLE: "true"
      HASURA_GRAPHQL_ADMIN_SECRET: secret!
      HASURA_GRAPHQL_ENABLED_LOG_TYPES: "startup, http-log, webhook-log, websocket-log, query-log"
      HASURA_GRAPHQL_MIGRATIONS_DIR: /hasura-migrations
      HASURA_GRAPHQL_METADATA_DIR: /hasura-metadata
      HASURA_GRAPHQL_JWT_SECRET: '{"key": "unsafe_vxgMtDq9UxgTsDq9UxgTsNHGAnEsZxveGsAWoENHGAnEsZxveGsAWoENIoJ", "type": "HS512"}'
      HASURA_GRAPHQL_UNAUTHORIZED_ROLE: public
      NEXT_API_URL: "http://host.docker.internal:3000/api"
      INTERNAL_ENDPOINTS_SECRET: xnEU6vvqPMkc5UYEPVWM2IArdQ2eWv7A9
    volumes:
      - ./hasura/migrations:/hasura-migrations
      - ./hasura/metadata:/hasura-metadata
    extra_hosts:
      - "host.docker.internal:host-gateway"
