# Update types with relevant values for hasura stack in your env file
HASURA_SCALING_CONFIG_JSON={"taskDefinition":{"cpu":number,"memoryLimitMiB":number},"healthCheck":{"healthyThresholdCount":number,"interval":number,"path":"string","timeout":number},"autoscaling":{"autoScaleTaskCount":{"minCapacity":number,"maxCapacity":number},"scaleOnCpuUtilization":{"targetUtilizationPercent":number},"scaleOnMemoryUtilization":{"targetUtilizationPercent":number}}}
# Update types with relevant values for web stack in your env file
WEB_SCALING_CONFIG_JSON={"taskDefinition":{"cpu":number,"memoryLimitMiB":number},"healthCheck":{"healthyThresholdCount":number,"interval":number,"path":"string","timeout":number},"autoscaling":{"autoScaleTaskCount":{"minCapacity":number,"maxCapacity":number},"scaleOnCpuUtilization":{"targetUtilizationPercent":number},"scaleOnMemoryUtilization":{"targetUtilizationPercent":number}}}
